<!DOCTYPE html>
<html>
<body>
    <form method="post" action="/predict">
        <input type="number" name="preg" placeholder="Preg" required="required">
        <input type="number" name="plas" placeholder="Plas" required="required">
        <input type="number" name="pres" placeholder="Pres" required="required">
        <input type="number" name="skin" placeholder="Skin" required="required">
        <input type="number" name="test" placeholder="Test" required="required">
        <input type="number" name="mass" placeholder="Mass" required="required">
        <input type="number" name="pedi" placeholder="Pedi" required="required">
        <input type="number" name="age" placeholder="Age" required="required"> 
        <input type="submit" value="Submit">
        <button>Submit</button>

       
    </form>
</body>
</html>

